.col-sm-4.col-md-3.proto-content
  - if prototype.user_id == current_user.id
    .dropdown.drop_menu_location
      = button_tag "ACTION", class: "btn btn-default dropdown-toggle", data: {toggle: "dropdown"}, id: "dropdownMenu", aria: {expanded: "false"}, type: "button", name: nil
      %ul.dropdown-menu{aria: {labelledby: "dropdownMenu1"}}
        %li
          = link_to "Delete", "/prototypes/#{prototype.id}", method: :delete, rel: "nofollow", data: {method: "delete"}
        %li
          = link_to "Edit", edit_prototype_path(prototype)
  .thumbnail
    = link_to image_tag(prototype.main_thumbnail), prototype_path(prototype)
    .caption
      %h3= prototype.title
      .proto-meta
        .proto-user
          = link_to "by #{prototype.user.username}", user_path(prototype.user_id)
        .proto-posted
          = prototype.created_at.strftime('%b %d')
      %ul.proto-tag-list.list-inline
        %li 
          = link_to "Ipad", "#", class: "btn btn-default"
        %li 
          = link_to "wireframe", "#", class: "btn btn-default"

