.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag("#{@prototype.user.avatar}", class: "media-object", alt: "64x64", data: {holder: {rendered: true}}, data: {src: "holder.js/64x64"}, style: "width: 64px; height: 64px;"), user_path(@prototype.user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.username}", user_path(@prototype.user_id)
            %span.degree= "#{@prototype.user.profile} #{@prototype.user.works}"
    .col-md-6.text-right{id: "like-link"}
      = render partial: "likes/like"
  .row
    .col-md-9
      = image_tag(@prototype.main_thumbnail, class: "img-responsive")
    .col-md-3
      %ul.proto-sub-list.list-group
        - if @prototype.first_thumbnail
          %li.list-group-item
            = image_tag(@prototype.first_thumbnail, class: "img-responsive")
        - if @prototype.second_thumbnail
          %li.list-group-item
            = image_tag(@prototype.second_thumbnail, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p= @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          = link_to 'iPad', '#', class: "btn btn-default"
        %li
          = link_to 'wireframe', '#', class: "btn btn-default"
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (#{@comments.count})
    .col-md-8
      #comment-link
        = render partial: "comments/comment", collection: @comments

      .form-inline{role: "form"}
        = form_for [@prototype, @comment], remote: true do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, placeholder: "Your comments", rows: "3", class: "form-control"
            .form-group.col-md-2
              = f.submit "Comment", class: "btn btn-primary"

