.container
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin container"}) do |f|
    %h2.form-signin-heading Please sign in
    = f.label :email, for: "inputEmail", class: "sr-only"
    = f.email_field :email, autofocus: "", placeholder: "Email address", class: "form-control", id: "inputEmail" ,type: "email"
    = f.label :password, for: "inputPassword", class: "sr-only"
    = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control", id: "inputPassword", type: "password"
    .checkbox
      %label
        %input{type: "checkbox", value: "remember-me"}/
        Remember me
    .actions
      = f.submit "Sign in", class: "btn btn-lg btn-primary btn-block"
  .text-center
    %p
      Not a member?
      = link_to "Sign up now", new_user_registration_path

